{% extends "base.html.twig" %}

{% block title %}My Notes{% endblock %}

{% block body %}

    {% if note %}
        <div class="note-container column">

            {% include 'notes/note_content.html.twig' %}

        </div>
    {% else %}

        <p>No notes to display</p>

    {% endif %}

{% endblock %}
