<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body class="min-h-screen md:flex">

{{ render(controller( 'App\\Controller\\NoteController::renderNavigationBar' )) }}

<div class="main-content bg-gray-200 text-black w-full">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
